* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}


:root {
    --primary-bg: #1e1e1e;
    --secondary-bg: #343436;
    --overlay-bg: #404042;
    --overlay-btn-hover: #48484a;
    --overlay-btn-click: #322636;
    --primary-color: #e79cfe;
    --secondary-color: #b876cc;
    --error-color: #ff6b6b;
    --error-bg: #6a3131;
    --primary-fg: #fff;
    --secondary-fg: #969696;
}

body {
    background-color: var(--primary-bg);
    color: var(--primary-fg);
    display: grid;
    grid-template-columns: auto 1fr;
    /* column-gap: 1vw; */
    justify-content: center;
}

.authentication-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container {
    background: var(--secondary-bg);
    padding: 1em;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.auth-type {
    text-align: center;
    color: var(--primary-color);
}

.auth-button {
    border-width: 0;
    color: var(--primary-fg);
    font-size: 1rem;
    padding: 1em;
    border-radius: 10px;
    background: var(--overlay-bg);
}

.form-container input {
    border-width: 0;
    padding: 0.5em;
    border-radius: 10px;
    color: var(--primary-fg);
    background: var(--overlay-bg);
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: 1/2;
    min-height: 97vh;
    border: var(--overlay-bg) 2px solid;
    border-radius: 20px;
    margin: 8px;
    margin-right: 0;
    background: var(--secondary-bg);
    overflow: hidden;
    text-wrap: nowrap;
    /* transition: 1s transform; */
    /* transition: 1s ease-in-out; */
}

.sidebar.collapsed {
    width: 40px;
}

.sidebar-list {
    list-style: none;
}

.sidebar-item {
    margin: 10px 5px;
    user-select: none;
    cursor: pointer;
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 0.6em;
    padding-right: 4.5em;
    border-radius: 10px;
}

.sidebar-item.active {
    background-color: var(--overlay-bg);
    color: var(--primary-color);
}

.sidebar-item:hover {
    color: var(--primary-color);
}

.bottom-sidebar {}

.profile-sidebar {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 0.6em;
    margin: 10px 5px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 3vw;
}

.main-header {
    padding: 1em;
}

.typing-field {
    background-color: var(--secondary-bg);
    max-width: 800px;
    margin-bottom: 1em;
    padding: 1em;
    font-size: 1.5rem;
    border-radius: 20px;
}

.typing-indicator {
    position: absolute;
    color: var(--primary-color);
    transition: 150ms left, 150ms top;
}

.typing-indicator.animated {
    animation-name: indicator-animation;
    animation-delay: 500ms;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.typing-indicator span {
    font-size: 1.8rem;
    font-weight: 400;
}

@keyframes indicator-animation {
    0% {
        opacity: 100;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

/* Debug elements */
.pointer-counter,
.errors-counter {
    padding: 0.5em;
    text-align: center;
}

/* Character styling based on state */
.char {
    color: var(--secondary-fg);
    transition: 150ms;
}

/* .char.highlighted {} */

.char.wrong {
    color: var(--error-color);
    background-color: var(--error-bg);
}

.char.typed {
    font-weight: 450;
    color: var(--primary-fg);
}

/* Blurred overlay for completed test info */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(10px);
}

.result-overlay {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(70%, 550px);
    background-color: var(--secondary-bg);
    z-index: 2;
    padding: 10px;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 80px 100px 100px;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}

.wpm-score-overlay {
    text-align: center;
    align-self: center;
    grid-column: span 3;
}

.wpm-overlay-value {
    font-weight: 500;
    color: var(--primary-color);
}

.duration-overlay,
.accuracy-overlay,
.errors-overlay {
    text-align: center;
    align-self: center;
    box-shadow: 1px 1px 2px var(--primary-bg);
    padding: 1em;
    border-radius: 20px;
    background-color: var(--overlay-bg);
}

.duration-overlay h2,
.accuracy-overlay h2,
.errors-overlay h2 {
    display: inline;
    font-weight: 500;
}

.duration-overlay-header,
.accuracy-overlay-header,
.errors-overlay-header {
    color: var(--primary-color);
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.overlay-actions-container {
    grid-column: span 3;
    display: flex;
    gap: 10px;
    align-self: center;
    justify-self: center;
    align-items: center;
    /* box-shadow: 1px 1px 2px var(--primary-bg); */
    /* padding: 0.8em; */
    /* border-radius: 20px; */
    /* background-color: var(--overlay-bg); */
}

.restart-btn,
.next-btn {
    display: inline-flex;
    align-items: center;
    padding: 1em;
    background-color: var(--overlay-bg);
    box-shadow: 1px 1px 2px var(--primary-bg);
    border-radius: 20px;
    border-width: 0;
    color: var(--primary-fg);
    transition: 250ms background-color;
}

.next-btn {
    padding: 1em 2.02em;
}

.restart-btn span,
.next-btn span {
    color: var(--primary-color);
}

.restart-btn:hover,
.next-btn:hover {
    background-color: var(--overlay-btn-hover);
}


.restart-btn:active,
.next-btn:active {
    background-color: var(--overlay-btn-click);
}

.stats-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stats-container h3 {
    display: inline;
}

.current-wpm,
.words-typed,
.timer {
    display: flex;
    align-items: center;
    font-weight: 450;
    color: var(--primary-color);
}


.words-typed.inactive,
.timer.inactive {
    display: none;
}

.words-typed {
    gap: 5px;
}

.timer {
    gap: 3px
}

.current-wpm-text,
.words-typed-text,
.timer-text {
    color: var(--primary-fg);
}

.current-wpm-text span,
.words-typed-text span,
.timer-text span {
    font-weight: 450;
    color: var(--primary-color);
}

.options-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.options-container select {
    /* width: 100px; */
    background-color: var(--secondary-bg);
    padding: 0.3em;
    border-radius: 20px;
    color: var(--primary-fg);
}

.options-container select option {
    border-radius: 20px;
}

.select-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 1em;
    align-items: center;
}

.select-menu.inactive {
    display: none;
}

.select-menu .select-value {
    display: flex;
    user-select: none;
    padding: 0.4em 0.6em;
    border-radius: 20px;
    background-color: var(--secondary-bg);
    border: var(--overlay-bg) 2px solid;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    cursor: pointer;
}

.select-menu .select-value span.material-icons {
    color: var(--primary-color);
    transition: transform 300ms;
}

.select-menu .select-value.active span.material-icons {
    transform: rotate(180deg);
}

.select-menu .options-list {
    display: none;
    position: absolute;
    padding: 0.4em 0.6em;
    border-radius: 20px;
    background-color: var(--secondary-bg);
    border: var(--overlay-bg) 2px solid;
    box-shadow: 1px 1px 3px var(--primary-bg);
    list-style: none;
    line-height: 1.9em;
    min-width: 130px;
}

.select-menu .options-list.active {
    top: 124px;
    display: block;
}

.select-menu .options-list .option {
    user-select: none;
    text-align: center;
}

.select-menu .options-list .option:hover {
    color: var(--primary-color);
    background-color: var(--overlay-btn-hover);
    border-radius: 10px;
    cursor: pointer;
}

.shortcut-help-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.shortcut-help {
    display: flex;
    justify-content: center;
    color: var(--secondary-fg);
    align-items: center;
}

.shortcut-help .key {
    background: var(--secondary-bg);
    border-radius: 4px;
    padding: 0.1em;
    margin: 0 5px;
    display: flex;
    align-items: center;
}

.shortcut-help .key .material-icons {
    font-size: 1rem;
}

@media(max-width:800px) {
    body {
        grid-template-columns: 1fr;
    }

    .main-content {
        grid-column: 1/2;
    }

    .sidebar {
        display: none;
        transform: translate(-200px, 0);
    }
}
