* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

:root {
    --primary-bg: #1e1e1e;
    --secondary-bg: #343436;
    --overlay-bg: #404042;
    --overlay-btn-hover: #48484a;
    --overlay-btn-click: #322636;
    --primary-color: #e79cfe;
    --secondary-color: #b876cc;
    --error-color: #ff6b6b;
    --error-bg: #6a3131;
    --primary-fg: #fff;
    --secondary-fg: #969696;
}

body {
    background-color: var(--primary-bg);
    color: var(--primary-fg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-header {
    padding: 1em;
}

.typing-field {
    background-color: var(--secondary-bg);
    max-width: min(70vw, 800px);
    padding: 1em;
    font-size: 1.5rem;
    border-radius: 20px;
}

/* Debug elements */
.pointer-counter,
.errors-counter {
    padding: 0.5em;
    text-align: center;
}

/* Character styling based on state */
.char {
    color: var(--secondary-fg);
}

.char.highlighted {
    text-decoration: underline var(--primary-color);
}

.char.wrong {
    color: var(--error-color);
    background-color: var(--error-bg);
}

.char.typed {
    font-weight: 450;
    color: var(--primary-fg);
}

/* Blurred overlay for completed test info */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(10px);
}

.result-overlay {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(70%, 550px);
    background-color: var(--secondary-bg);
    z-index: 2;
    padding: 10px;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 80px 100px 100px;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}

.wpm-score-overlay {
    text-align: center;
    align-self: center;
    grid-column: span 3;
}

.wpm-overlay-value {
    font-weight: 500;
    color: var(--primary-color);
}

.duration-overlay,
.accuracy-overlay,
.errors-overlay {
    text-align: center;
    align-self: center;
    box-shadow: 1px 1px 2px var(--primary-bg);
    padding: 1em;
    border-radius: 20px;
    background-color: var(--overlay-bg);
}

.duration-overlay h2,
.accuracy-overlay h2,
.errors-overlay h2 {
    display: inline;
    font-weight: 500;
}

.duration-overlay-header,
.accuracy-overlay-header,
.errors-overlay-header {
    color: var(--primary-color);
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.overlay-actions-container {
    grid-column: span 3;
    align-self: center;
    justify-self: center;
    align-items: center;
    /* box-shadow: 1px 1px 2px var(--primary-bg); */
    /* padding: 0.8em; */
    /* border-radius: 20px; */
    /* background-color: var(--overlay-bg); */
}

.restart-btn,
.next-btn {
    display: inline-flex;
    align-items: center;
    padding: 1em;
    background-color: var(--overlay-bg);
    border-radius: 20px;
    border-width: 0;
    color: var(--primary-fg);
    transition: 250ms background-color;
}

.next-btn {
    padding: 1em 2.02em;
}

.restart-btn span,
.next-btn span {
    color: var(--primary-color);
}

.restart-btn:hover,
.next-btn:hover {
    background-color: var(--overlay-btn-hover);
}


.restart-btn:active,
.next-btn:active {
    background-color: var(--overlay-btn-click);
}

.stats-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stats-container h3 {
    display: inline;
}

.current-wpm,
.words-typed,
.timer {
    display: flex;
    align-items: center;
    font-weight: 450;
    color: var(--primary-color);
}


.words-typed.inactive,
.timer.inactive {
    display: none;
}

.words-typed {
    gap: 5px;
}

.timer {
    gap: 3px
}

.current-wpm-text,
.words-typed-text,
.timer-text{
    color: var(--primary-fg);
}

.current-wpm-text span,
.words-typed-text span,
.timer-text span {
    font-weight: 450;
    color: var(--primary-color);
}

.options-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.options-container select {
    /* width: 100px; */
    background-color: var(--secondary-bg);
    padding: 0.3em;
    border-radius: 20px;
    color: var(--primary-fg);
}

.options-container select option {
    border-radius: 20px;
}

.select-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 1em;
    align-items: center;
}

.select-menu.inactive {
    display: none;
}

.select-menu .select-value {
    display: flex;
    user-select: none;
    padding: 0.4em 0.6em;
    border-radius: 20px;
    background-color: var(--secondary-bg);
    border: var(--overlay-bg) 2px solid;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    cursor: pointer;
}

.select-menu .select-value span.material-icons {
    color: var(--primary-color);
    transition: transform 300ms;
}

.select-menu .select-value.active span.material-icons {
    transform: rotate(180deg);
}

.select-menu .options-list {
    display: none;
    position: absolute;
    padding: 0.4em 0.6em;
    border-radius: 20px;
    background-color: var(--secondary-bg);
    border: var(--overlay-bg) 2px solid;
    box-shadow: 1px 1px 3px var(--primary-bg);
    list-style: none;
    line-height: 1.9em;
    min-width: 130px;
}

.select-menu .options-list.active {
    top: 124px;
    display: block;
}

.select-menu .options-list .option {
    user-select: none;
    text-align: center;
}

.select-menu .options-list .option:hover {
    color: var(--primary-color);
    background-color: var(--overlay-btn-hover);
    border-radius: 10px;
    cursor: pointer;
}
